<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container-fluid hero" id="hero">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#hero">Web3Sol</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#hero">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#price">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="#contact">Contact Us </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container header">
        <h1 class="text-white">Transform Your Brand with <span class="text-warning">Revolutionary Digital Experiences</span></h1>
        <div class="row">
          <div class="col-md-6 ">
              <p class="text-white">We help Experience-driven companies thrive by making their audience feel the refined intricades of their brand and product in the digital space. unforgettable journeys start with a click.</p>
          </div>
          
        </div>
      </div>
    </div>
    <!--Our Services -->
    <main id="features">
      <div class="row m-2">
        <div class="col-md-6">
          <div class="container-fluid ">
            <img src="/img/web.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="container-fluid">
            <h3 class="text-primary mt-3 p-2">Why Choose Us</h3>
            <h1 class="fw-bolder p-2">We are Pro at Web Developement Service</h1>
            <p class="fw-light"> In the field of web Development and graphic design. Our expert team has vast knowledge in this domain and makes your business grow by making unique, beautiful, and innovative designs.</p>
            <p class="fw-light">Expert around the world</p>
            <a href="#contact" class="btn btn-primary">Request a Demo</a>
          </div>
        </div>
      </div>
    </main>
    
    <Main class="main">
    
    <h1 class="text-center text-light p-2">We Provide Web Development Service</h1>
    <p class="text-center fw-lighter text-light">Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas
      distributed for stand-alone web-readiness. Follow us on Instagram for more information </p>
    <div class="row">
      <div class="col-md-2 ">
      </div>
      <div class="col-md-4 ">
        <div class="card offer">
          <h3>UX/UI Design</h3>
          <i class="fa-solid fa-layer-group fa-4x"></i>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card offer ">
          <h3>Web Developement</h3>
          <i class="fa-solid fa-code fa-4x"></i>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
      <!-- second row-->
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 ">
          <div class="card offer">
            <h3>Cloud Services</h3>
          <i class="fa-solid fa-cloud fa-4x"></i>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card offer ">
            <h3>App Developement</h3>
          <i class="fa-solid fa-mobile fa-4x"></i>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  </Main>
  <article>
    <div class="row">
      <div class="column">
        <div class="container-fluid text-center main lets">
          <h3 class="text-warning">Let's Try! Get Our Support</h3>
        <h1 class="text-light">Start Your Business Growth</h1>
        <h4 class="text-light">We can help you to create your dream website for better business revenue</h4>
        <a href="#contact" class="btn btn-primary mt-5">Contact With US</a>
        </div>
      </div>
    </div>
  </article>
  <!--Plans-->
  <section>

    <div class="container-fluid  main" id="price">
      <h1 class="text-center text-white p-4">Get our any Service
        With Suitable Pricing</h1>
        <p class="text-center text-light">Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas
          distributed for stand-alone web-readiness.</p>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-2 col-sm-6 ">
          <div class="card text-center  text-light bg-primary m-1  plan">
            <div class="card-header ">
              <p>Basic Plan</p>
            </div>
            <div class="card-body">
              <p>Basic Website</p>
              <p>Blog Website</p>
              <p>Business Website</p>
              <p>Portfolio website</p>
              <p>6months maintanance</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 ">
          <div class="card text-center text-light bg-primary m-1 plan">
            <div class="card-header ">
              <p>Premium Plan</p>
            </div>
            <div class="card-body ">
              <p>Fully customized website</p>
              <p>Login Logout functionality</p>
              <p>1 year maintanance</p>
              <p>Business Website</p>
              <p>Portfolio website</p>
              <p> Email Account Support</p>
              <p>6months maintanance</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 ">
          <div class="card text-center text-light bg-primary m-1 plan">
            <div class="card-header  ">
              <p>Business Plan</p>
            </div>
            <div class="card-body">
              <p>Fully customized website</p>
              <p>Login Logout functionality</p>
              <p>Payment gateway Integration</p>
              <p>Mail system Integration</p>
              <p>Ecommerce website</p>
              <p>1 year maintanance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact us-->
  <article class="main" id="contact">
    <div class="row p-5">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="container ">
          <h1 class=" text-light text-center m-4">Contact Us</h1> 
            <div class="card bg-primary p-5">
              
              <form  action ="add" method ="post"class="w-75">
                <div class="mb-3">
                  <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Name">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" id="exampleInputEmail1" name="fname" placeholder="Mobile Number">
                </div>
                
                <button type="submit" class="btn btn-warning">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </article>
  <section class="main">
      <div class="row ">
        <div class="col-md-4 ">
          
        </div>
        <div class="col-md-4">
          <div class="container mt-5 ">
            <form class="w-50">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Subscribe to our News letter">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container mt-3 text-light">
            <h4>Primary Pages</h4>
           
            <ul class="p-2">
              <li><a class="features" href="#hero">Home</a></li>
              <li><a class="contact" href="#contact">Contact</a></li>
            <li><a class="" href="#features">What Service</a></li>
            </ul>
          </div>
        </div>
        
  </div>
  </section>
  
  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>